@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Patua One", cursive;
  text-align: center;

  --colour-primary: #04aa6d;
  --colour-secondary: #067a50;
  --colour-background: #999;
  --colour-background-secondary: #555;
  --colour-hover: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--colour-background);
}

ul.sidenav {
  width: 100%;
  height: auto;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--colour-background-secondary);
  overflow: auto;
}

ul.sidenav li a {
  float: left;
  padding: 15px;
  display: block;
  color: white;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: var(--colour-primary);
  color: white;
}

ul.sidenav li a:hover:not(.active, .titel) {
  background-color: var(--colour-hover);
  color: white;
}

ul.sidenav li a.titel {
  font-size: medium;
  color: white;
}

div.content {
  padding: 1px 16px;
  height: 1000px;
  margin-left: 0;
}

ul.sidenav li.right-nav {
  float: right;
}

@media screen and (max-width: 550px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }

  ul.sidenav li.right-nav {
    text-align: center;
    float: none;
  }
}

.container {
  margin-top: 2rem;
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 4px;
  border-style: solid;
  border-color: var(--colour-primary);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

  /* If you want dots under the hoverable text */
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border: 1px;
  border-radius: 6px;
  border-color: var(--colour-primary);
  border-style: solid;
  font-size: small;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button {
  background-color: var(--colour-primary);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--colour-secondary);
}

table {
  margin: auto;
}

table,
th,
td {
  border: 1px solid var(--colour-primary);
  border-collapse: collapse;
}

#frequentie {
  width: 15%;
}

#load-pop-up {
  font-size: 20px;
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 1%;
  color: black;
  background-color: #ddd;
  border: 1px solid var(--colour-primary);
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 0 1rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  display: inline-block;
  margin: auto;
  border: 4px solid #eaf0f6;
  border-radius: 50%;
  border-top: 4px solid var(--colour-primary);
  width: 10px;
  height: 10px;
  animation: spinner 2s linear infinite;
}

#load-pop-up-text {
  display: inline;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#table {
  overflow-x: auto;
}

#github img {
  height: 46px;
  padding: auto;
  margin: auto;
}

#github {
  display: inline;
  height: 50px;
  padding: 0;
}
