@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Patua One', cursive;
  --colour-primary: #04AA6D;
  --colour-secondary: #555;
  --colour-background: #999;
  --colour-hover: #333;
  text-align: center;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

body {
  background-color: var(--colour-background);
}

header, nav{
  background-color: var(--colour-secondary);
  color: white;
  justify-content: center;
  text-align: center;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  padding-bottom: .5rem;
}

nav ul li:hover{
  background-color: var(--colour-hover);
  max-width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.verwerker{
  margin-top: 5%;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: var(--colour-primary);
}